<head>

</head>

<body>

  <div class="card">
    <div class="card-header">
     <h1>Welcome <%= params[:id] %> !!! </h1>
    </div>
  <div class="card-body"> 
    <div class="card-body"> 
      <h2>Bienvenue jeune padawan <%= params[:id] %> :D </h2>
      <h2>Que la force soit avec toi bébé</h2>
    </div>
  </div>

</body>

</html>
