<!DOCTYPE html>
<html>

<head>

</head>

<body>
  <div class="card">
  <div class="card-header">
  <h1>Tu veux nous contacter ? </h1>
  </div>
    <div class="card-body"> 
      <p> </p>
      <h4>Compose le 3630 et dit " allo pere noel"</br>
      Sinon, tu peux rager en commentaire, anyway on les lits pas !</h4>
    </div>

    <div class="text-center">
      <img src="http://giphygifs.s3.amazonaws.com/media/pScTZ7mTJ1Udi/giphy.gif" class="rounded" alt="...">
    </div>
  
  </div>

</body>

</html>