<!DOCTYPE html>
<html>

<head>


</head>

<body>
  <div class="card">
    <div class="card-header">
    <h1>Que des numeros 10 dans ma Team</h1>
    </div>
    
    <div class="card-deck">
  

      <div class="card">
        <img src="http://giphygifs.s3.amazonaws.com/media/iVaFfc34kzBNC/giphy.gif" class="card-img-top" alt="..." height="300">
        <div class="card-body">
          <h5 class="card-title font-weight-bold">Un idiot pyromane</h5>
        </div>
      </div>

      <div class="card">
        <img src="https://media.giphy.com/media/XknChYwfPnp04/giphy.gif" class="card-img-top" alt="..." height="300">
        <div class="card-body">
          <h5 class="card-title font-weight-bold">Un debile leger</h5>
         
         </div>
      </div>

      <div class="card">
        <img src="https://media.giphy.com/media/ylwqmkieqsbdK/giphy.gif" class="card-img-top" alt="..." height="300">
        <div class="card-body">
          <h5 class="card-title font-weight-bold">Et lui...</h5>
        </div>
      </div>
    </div>
  </div>
</body>

</html>

